p {
    color:white;
}

body {
    
}
h1{
    font-size: 70px;
    color: white;
}
.hero-section{
    background-color: rgb(196, 53, 34);
    border-bottom-style: -25px;
}
.oreo{
    font-size: 40px;

}

.map-section{
    background-color: orange;
    style="margin-bottom: -49px;margin: top -16px;"

}
.iz{
    margin-top: -16px;
    font-size: 40px;
    text-align: center;


}
.zo{
    font-size: 80px;
    text-align: center;


}


.about-section{
    background-color: beige;
  
}

.two{
    color : brown;
    font-size: larger;
    text-align: center;
    font-size: 50px;
    margin-bottom: 81px;
}

.jiji{
      color: black;
      font-weight: 900;
      font-size: large;
      float: inline-end;
      font-size: 30px;
      text-align: left;
}

.azy{font-family: Arial, Helvetica, sans-serif;
    text-align: right;
    color: black;
    font-size: 30px;
    font-weight: 700;
    font-style: italic;
}
